/*
//////////////////////////////////////////////////////////////////////////////
// SITE HEADER
////////////////////////////////////////////////////////////////////////////////
//
*/

#site-header {
  position: fixed;
  z-index: 2;
  box-shadow: rgba(0, 0, 0, 0.1) 0 0 9px;
  width: 100%;
}

#site-title {
  height: 8rem;
}

/*
//////////////////////////////////////////////////////////////////////////////
// SITE ASIDE
////////////////////////////////////////////////////////////////////////////////
//
*/

#site-aside {
  position: fixed;
  width: 30rem;
  z-index: 1;
  top: 7rem;
  left: 0;
  bottom: 0;
  padding: 2rem 0 0 3rem;
  overflow-y: auto;
  overflow-x: hidden;
  box-shadow: rgba(0, 0, 0, 0.1) 0 0 9px;
}

/*
//////////////////////////////////////////////////////////////////////////////
// SITE CONTENT
////////////////////////////////////////////////////////////////////////////////
//
*/

#site-content {
  margin: 0 0 0 30rem;
  width: calc(100% - 30rem - 0.1px);
  /* background-color: #333; */
}

#site-content>article {
  margin: 0 50% 0 0;
  background-color: #fdfdfd;
}

#site-content .dark-box {
  width: 50%;
  background-color: #2E3336;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
}
